body {
  font-family: Rubik;
  /* background-color: #FFFFFF; */
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #F8FAFB;
  width: 242px;
}

#sidebar-wrapper .sidebar-heading {
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  background-color: #F8FAFB;
  margin-left: 70px;
  margin-right: 73px;
  padding-top: 22px;
}

#side-button {
  font-size: 14px;
  color: #778CA2;
  border: none;
  background-color: #F8FAFB;
}

#sidebar-wrapper .list-group {
  width: 242px;
}

#page-content-wrapper {
  min-width: 100vw;
  background-color: #FFFFFF;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

#side-button:hover {
  background-color: #FFFFFF;
  border-left: solid;
  border-left-width: 2px;
  border-left-color: #4D7CFE;
}

/* Test button allways active */
a#side-button.list-group-item.list-group-item-action.active {
  background-color: #FFFFFF;
  border-left: solid;
  border-left-width: 2px;
  border-left-color: #4D7CFE;
  color: #4D7CFE;
}

/* Active button live */
a#side-button.list-group-item.list-group-item-action:active {
  background-color: #FFFFFF;
  border-left: solid;
  border-left-width: 2px;
  border-left-color: #4D7CFE;
  color: #4D7CFE;
}

#navbar-top {
  background-color: #FFFFFF;
  height: 64px;
  height: 64px;
  top: 0px;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 16px rgba(153, 155, 168, 0.12));
}

#menu-toggle {
  background-color: #FFFFFF;
}

#activity-card {
  width: 389px;
  border: none;
  background-color: #FFFFFF;
}

#activity-header {
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px;

}

#header-text {
  color: #778CA2;
}

#main-container {
  background-color: #FFFFFF;
}

#submenu-text {
  color: #778CA2;
}

#name-card {
  height: 76px;
  width: 330px;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 16px rgba(153, 155, 168, 0.12));
  border: none;
  margin-bottom: 12px;
}

#activity-card {
  width: 360px;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 16px rgba(153, 155, 168, 0.12));
  border: none;
}

#tab-name {
  color: #3D3E48;
}

#order-card {
  /* background-color: #FFFFFF; */
  margin-right: 30px;
  padding-left: 24px;
  justify-content: center;
  font-size: 14px;
  height: 98px;
  width: 262px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
}

#card-order-nr {
  font-size: 26px;
}

#card-order-name {
  color: #98A9BC;
}

/* #card-order-percent {
  color: #30D284;
} */

#order-addon {
  font-size: 18px;
  color: #778CA2;
  margin-top: 25px;
  margin-bottom: 24px;
  max-width: 1140px;
  align-items: center;
  border-radius: 4px;
}

#overview-diagramm {
  height: 400px;
  width: 847px;
  text-align: center;
  justify-content: center;
  border: none;
  margin-right: 30px;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
}

#overview-diagramm-small {
  height: 113.55px;
  width: 261px;
  margin-bottom: 29.68px;
  text-align: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
}

#overview-data-card {
  height: 296px;
  width: 360px;
  margin-bottom: 20px;
  margin-right: 30px;
  border: none;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
}

#overview-card-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E8ECEF;
}

#top-card {
  font-size: 14px;
  font-weight: 300;
}

/* #order-count {
  margin-left: 8px;
  color: #252631;
  font-weight: 500;
  font-size: 12px;
} */

#order-submenu-item {
  margin-right: 24px;
  color: #778CA2;
  font-size: 14px;
}

#order-table-head {
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 1140px;
  font-size: 13px;
  color: #98A9BC;
  background: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 4px;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
}

/* #company-logo {
  height: 40px;
  width: 40px;
  margin-right: 24px;
} */

/* #company-logo-ring {
  height: 40px;
  width: 40px;
  margin-right: 24px;
  border-radius: 50%;
  background-color: #778CA2;
  font-size: 10px;
  align-items: center;
} */

#company-logo-text {
  display:flex;
  align-items:center;
}

#company-table {
  /* display: flex; */
  color: #3D3E48;
  height: 72px;
  width: 1140px;
  font-size: 14px;
  background: #FFFFFF;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
  box-shadow: 0px 2px 16px rgba(153, 155, 168, 0.12);
}

#order-nr {
  font-size: 16px;
  font-weight: 500;
  color: #3D3E48;
}

#new-order-link {
  font-size: 12px;
}

#modal-head-text {
  color: #98A9BC;
  font-size: 12px;
  margin-left: 24px;
}

#product-image {
  background: #F2F4F6;
  border-radius: 2px;
  height: 144px;
  width: 144px;
  text-align: center;
  padding-top: 60px;
}

#modal-product-name {
  margin-left: 24px;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #252631;
}

#modal-product-code {
  margin-left: 24px;
  margin-top: 8px;
  font-size: 16px;
}

#status-button {
  font-size: 14px;
  display: flex;
  height: 24px;
  width: 138px;
  margin-right: auto;
  align-items: center;
  color: #4D7CFE;
}

#mod-button {
  color: #778CA2;
}
/* USER IMAGES - NEED BETTER SOLUTION */
#user-images {
  position: relative;
}

#single-image {
  position: absolute;
  left: 15%;
  transform: translate(-50%, -50%);
}

#single-image2 {
  position: absolute;
  left: 30%;
  transform: translate(-50%, -50%);
}

#single-image3 {
  position: absolute;
  left: 45%;
  transform: translate(-50%, -50%);
}

#single-image4 {
  position: absolute;
  left: 60%;
  transform: translate(-50%, -50%);
}

#single-image5 {
  color: #98A9BC;
  position: absolute;
  left: 60%;
  transform: translate(-50%, -50%);
}
/* /USER IMAGES */

.icon-background {
  color: rgba(77, 124, 254, 0.08);
}

.icon-action {
  margin-top: 5px;
  float: right;
  font-size: 80%;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}